<nav class="nav">
<div class="next-event"><span class="label">Next Event</span><span class="next-event-date">&hellip;</span></div>
<input type="checkbox" id="nav-toggle" class="nav-toggle-input">
<label for="nav-toggle" class="nav-toggle-label" aria-label="Menu">&#9776;</label>
<div class="nav-links">
<a href="index.html">Home</a>
<div class="has-dropdown">
<span class="nav-label" tabindex="0">New Player Info</span>
<div class="dropdown">
<a href="getting-started.html">Getting Started</a>
<a href="building-your-character.html">Building Your Character</a>
<a href="playable-races.html">Playable Races</a>
<a href="your-first-event.html">Your First Event</a>
<a href="backstory.html">Submit a Backstory</a>
</div>
</div>
<a href="files/fantasy-alive-rulebook.pdf">Rulebook</a>
<a href="lore.html">Lore</a>
<a href="contact.html">Contact</a>
<div class="has-dropdown">
<span class="nav-label" tabindex="0">Game Info</span>
<div class="dropdown">
<a href="site-location-amenities.html">Site Location &amp; Amenities</a>
<a href="casting-contributing-marshals.html">Casting, Contributing &amp; Marshalls</a>
<a href="ogre-chips.html">Ogre Chips</a>
<a href="spell-compendium.html">Spell Compendium</a>
<a href="skill-list.html">Skill List</a>
<a href="recipes.html">Recipes</a>
<a href="effects-counters.html">Effects</a>
</div>
</div>
<a href="login.html">Members</a>
</div>
<a href="https://discord.gg/bpqyxSpGyE" class="discord"><span>Join our<br>Discord!</span><img src="https://i.imgur.com/yMqetgi.png" alt="Discord" class="bubble"></a>
</nav>
