<div class="account-tab" id="member-account-name">Loading&hellip;</div>
<nav class="side-nav">
<a href="home.html" data-page="home.html">Home</a>
<a href="account.html" data-page="account.html">Account Info</a>
<a href="notifications.html" data-page="notifications.html">Notifications <span id="member-notif-badge" class="notif-badge" style="display:none;"></span></a>
<a href="messages.html" data-page="messages.html">Messages <span id="member-messages-badge" class="notif-badge" style="display:none;"></span></a>
<a href="characters.html" data-page="characters.html">Characters</a>
<a href="register.html" data-page="register.html">Register for Event</a>
<a href="bank.html" data-page="bank.html">Bank</a>
<a href="auction.html" data-page="auction.html">Auction</a>
<a href="friends.html" data-page="friends.html">Friends</a>
<a href="kudos.html" data-page="kudos.html">Kudos</a>
<a href="oc-submission.html" data-page="oc-submission.html">OC Submission</a>
<a href="xp-oc-log.html" data-page="xp-oc-log.html">XP/OC Log</a>
<a href="teachable-skills.html" data-page="teachable-skills.html">Teachable Skills</a>
<a href="#">Current Event</a>
<a href="#">Past Events</a>
<a href="#">Future Events</a>
<a href="#" onclick="membersSignOut(); return false;">Log Out</a>
</nav>
